
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background-image: url("log.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.login-box {
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  width: 450px;
  background:transparent;
  padding: 30px;
  border-radius: 16px;
}


.logo {
  color: #4b2aad;
  font-size: 28px;
  margin-bottom: 5px;
   font-size: 20px;
  margin-bottom: 5px;
}

.welcome {
 color: #5142f9;
  font-size: 30px;
  font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h2{
  margin:10px ;
}
.subtext {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

input:focus {
  border-color: #6c4eff;
  outline: none;
}


.options {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 20px;
}

.options a {
  color: #6c4eff;
  text-decoration: none;
}

button {
  width: 100%;
  padding: 12px;
  background: #6c4eff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #573ad8;
}

.divider {
  text-align: center;
  margin: 20px 0;
  color: #999;
}

.signup {
  text-align: center;
  font-size: 14px;
}

.signup a {
  color: #6c4eff;
  text-decoration: none;
}
.tab{
  display: none;
}


@media (max-width: 1200px) and (min-width: 601px) {

.login-box{
  display: none;
}


.tab{
  display: none;
  min-height: 100vh;
}

#login {
  display: flex;
}

.tab:target {
  display: flex;
}

.login-page {
   position: relative;
   min-height: 100vh;
  background: url("./forest.gif");
  background-size: cover;
  align-items: center;
  justify-content: center;
}
.logo {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 42px;
  margin: 0;
}

.welcome {
  position: fixed;
  top: 90px;
  left: 18%;
  color: #f3f942;
  font-size: 42px;
  font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;

}


.login-bo {
  margin-top: 20px;
  background: rgba(80, 159, 126, 0.523);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 12px;
  color: white;
  width: 300px;
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

.btn {
  display: block;
  margin-top: 15px;
  padding: 10px;
  background: purple;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}
}

@media (max-width: 600px) {

  .login-box {
    display: none;
  }

  .tab {
    display: flex;
  }

  .login-page {
    min-height: 100vh;
    background: url("./forest.gif") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }

  .login-bo {
    width: 90%;
    max-width: 360px;
    padding: 22px;
    margin-top: 120px;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(12px);
    border-radius: 14px;
  }
  .logo {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 26px;
  margin: 0;
}

.welcome {
  position: fixed;
  top: 90px;
  left: 10%;
  color: #f3f942;
  font-size: 23px;
  font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;

}


.login-bo {
  position: absolute;
  top:100px;
  background: rgba(80, 159, 126, 0.523);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 12px;
  color: white;
  width: 300px;
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

.btn {
  display: block;
  margin-top: 15px;
  padding: 10px;
  background: purple;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}
}




